<div class="container_subtitle_all">
    <div class="container_subtitle">
        <div class="subtitles">
            <h4><b>Máscara</b></h4>

            <div class="container_imgs">
                <div class="container_subtitle_imgs">
                    <ul>
                        <img src="../../../assets/img/png/required-mask.png" /> 
                        <p>Obrigatório</p>
                    </ul>
                    <ul>
                        <img src="../../../assets/img/png/recommended-mask.png" />
                        <p>Recomendado</p>
                    </ul>
                </div>
            </div>
        </div>

        <div class="subtitles">
            <h4><b>Toalha</b></h4>

            <div class="container_imgs">
                <div class="container_subtitle_imgs">
                    <ul>
                        <img src="../../../assets/img/png/required-towel.png" /> 
                        <p>Obrigatório</p>
                    </ul>
                    <ul>
                        <img src="../../../assets/img/png/recommended-towel.png" />
                        <p>Recomendado</p>
                    </ul>
                </div>
            </div>
        </div>

        <div class="subtitles">
            <h4><b>Bebedouro</b></h4>

            <div class="container_imgs">
                <div class="container_subtitle_imgs">
                    <ul>
                        <img src="../../../assets/img/png/partial-fountain.png" /> 
                        <p>Parcial</p>
                    </ul>
                    <ul>
                        <img src="../../../assets/img/png/not_allowed-fountain.png" />
                        <p>Proibido</p>
                    </ul>
                </div>
            </div>
        </div>

        <div class="subtitles">
            <h4><b>Vestiários</b></h4>

            <div class="container_imgs">
                <div class="container_subtitle_imgs">
                    <ul>
                        <img src="../../../assets/img/png/allowed-lockerroom.png" /> 
                        <p>Liberado</p>
                    </ul>
                    <ul>
                        <img src="../../../assets/img/png/partial-lockerroom.png" />
                        <p>Parcial</p>
                    </ul>

                    <ul>
                        <img src="../../../assets/img/png/closed-lockerroom.png" />
                        <p>Fechado</p>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>